<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
<!--{% load static %}-->
<!--navigation bar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_content">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav_content">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <div class="nav-link" >{% include "login.html" %}</div>            <!--   login  -->
          </li>
        </ul>
      </div>
    </div>

  </nav>

<!--image slider -->
<div id="slidessss" class="carousel slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class ="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'home/images/one.jpg' %}" class="img-fluid" alt="First slide">
      <div class="carousel-caption">
        <h1 class="display-2">Bootstrap</h1>
        <h3>complete website layout</h3>
        <button type="button" class="btn btn-outline-light btn-lg text-primary">View more</button>
        <button type="button" class="btn btn-primary btn-lg">Register</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/images/2.jpg' %}" class="img-fluid" alt="Second slide">
      <div class="carousel-caption">
        <h1 class="display-2">Bootstrap</h1>
        <h3>complete website layout</h3>
        <button type="button" class="btn btn-outline-light btn-lg text-primary">View more</button>
        <button type="button" class="btn btn-primary btn-lg">Register</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/images/3.jpg' %}" class="img-fluid" alt="Third slide">
      <div class="carousel-caption">
        <h1 class="display-2">Bootstrap</h1>
        <h3>complete website layout</h3>
        <button type="button" class="btn btn-outline-light btn-lg text-primary">View more</button>
        <button type="button" class="btn btn-primary btn-lg">Register</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slides" alt="Third slide" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!--jumbotron-->

<div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class ="lead">text goes here</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">More</button></a>
            </div>
        </div>
</div>

<!--welcome-->

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Built with ease</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">text goes here</p>
    </div>
  </div>
</div>

<!--three column section-->

<div class="container-fluid padding">
  <div class="row text-center padding yes">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-code"></i>
      <h3>HTML5</h3>
      <p>text goes here</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-bold"></i>
      <h3>Bootstrap</h3>
      <p>text goes here</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <i class="fa fa-css3"></i>
      <h3>CSS3</h3>
      <p>text goes here</p>
    </div>
  </div>
  <hr class="my-4">
</div>

<!--two column section-->

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>text goes here</h2>
      <p>para1</p>
      <p>para2</p>
      <p>para3</p>
      <br>
      <a href="#" class="btn btn-primary">learn more</a>
    </div>
    <div class="col-lg-6">
      <img src="{% static 'home/images/desk.png' %}" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-4">

<!--fixed background-->

<figure>
  <div class="fixed-wrap">
    <div id="fixed">

    </div>
  </div>
</figure>

<!--meeet the team-->

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="dispaly-4">Meet the team</h1>
    </div>
  </div>
</div>

<!--cards-->

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'home/images/team1.png' %}">
        <div class="card-body">
          <h4 class="card-title">Ankit</h4>
          <p class="cardtext">text goes here</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'home/images/team2.png' %}">
        <div class="card-body">
          <h4 class="card-title">Tripti</h4>
          <p class="cardtext">text goes here</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'home/images/team3.png' %}">
        <div class="card-body">
          <h4 class="card-title">Vidushi</h4>
          <p class="cardtext">text goes here</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'home/images/team4.png' %}">
        <div class="card-body">
          <h4 class="card-title">Deepam</h4>
          <p class="cardtext">text goes here</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--connect-->

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>

<!--footer-->

<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="">
        <hr class="light">
        <p>write something here....</p>
      </div>
      <div class="col-md-4">
        <img src="">
        <hr class="light">
        <p>write something here....</p>
      </div>
            <div class="col-md-4">
        <img src="">
        <hr class="light">
        <p>write something here....</p>
      </div>
    </div>
  </div>
</footer>

<p style="color:red">
{{message}}
</p>

<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    })
  });
</script>

</body>
</html>
